*.gem
*.rbc
.bundle
.config
.ruby-version
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
spec/examples.txt
spec/support/rails_app/log/*
spec/support/rails_app/db/*.sqlite3
tmp
